@page "/m/propietario"
@using Radzen.Blazor
@using AdmIn.Mock.Services

@inject NavigationManager nav
@inject MockData MockData

<h3 style="margin-bottom: 20px;">Mis Inmuebles</h3>

<RadzenRow>
    @foreach (var inmueble in MockData.ObtenerInmuebles().Result)
    {
        <RadzenColumn Size="12" MD="4" LG="3">
            <InmuebleCard Inmueble="inmueble" OnVerDetalle="VerDetalleInmueble" />
        </RadzenColumn>
    }
</RadzenRow>

@code {
    private void VerDetalleInmueble(int inmuebleId)
    {
        nav.NavigateTo($"/inmueble/{inmuebleId}");
    }
}